<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Project" value="" />
    <add key="URL" value=""/>
    <add key="Username" value=""/>
    <add key="Password" value=""/>
    <!-- Possible values are Functional , Sanity and Regression-->
    <add key ="Type" value ="All"/>
    <!-- Possible values are UI and API-->
    <add key="TestType" value="UI"/>
    <!-- Possible values of Browser type are Chorme, Firefox and Edge-->
    <add key="BrowserType" value="Chrome"/>
    <!-- Possible values of RunLocation are Local and Pipeline-->
    <add key="RunLocation" value="Local"/>
    <add key ="RunTestHeadless" value="false"/>
    <add key="UseBrowserCache" value="false"/>
    <add key ="DownloadPath" value="\Downloads"/>
    <!-- DataSource can either be excel or xml-->
    <add key ="DataSource" value ="xml"/>
    <add key ="FilePath" value=".\Datatable\RunManager.xlsx"/>
    <add key="RunOnDocker" value="False"/>
    <add key ="RemoteWebDriverUrl" value="http://localhost:4646/wd/hub"/>
	  <!-- Database Connection Details-->
	  <!-->add key ="DBServer" value ="BAN-LDFY2GL3\SQLEXPRESS" /-->
	  
	  <add key ="ConnectionString" value="Database=foliosure_test"/>
	  <!--<add key ="ConnectionString" value="server=BAN-LDFY2GL3\SQLEXPRESS;database=foliosure_test;MultipleActiveResultSets=True;Integrated Security=True;TrustServerCertificate=True"/>-->
	  <!-- AWS Connection-->
	  <add key ="AWSKey" value="nprd/foliosure/pod/test"/>
	  <add key="Region" value="eu-west-1"/>
	 
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RazorEngine" publicKeyToken="9ee697374c7e744a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.10.0.0" newVersion="3.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>